/*
    комментрий
*/

/* селектор по идентификатору */
#test {
    color: rgb(14, 156, 167);
} 

/* селектор по тэгу */
div {
    background: rgb(49, 49, 49);
}

/* селектор по клвссу */
.cat {
    border: 1px solid salmon;
}
.dog {
    font-size: 20px;
}

/* селектор по атрибуту */
input[placeholder] {
    background-color: rgb(49, 49, 49);
    color: rgb(0, 173, 253);
}
input[placeholder="Hello"] {
    color:rgb(0, 173, 253);
}

/* селектор по псевдоклассу */
input:hover {
    padding: 200px;
}

/* селектор по псевдоэлементу */
::first-letter {
    font-size: 100px;
    color: red;
}

/* унивесальный селектор */
* {
    font-family: 'Comic Sans MS';
}

/* составные селекторы */
/* разделители селекторов
    1. [,] - 
*/
div,.dog,#test {}

/* 
    2. [Space] - стили применятся для всех div и тэгов с атрибутом placeholder которые расположены внутри тэга с идентификатром test 
*/
#test div,[placeholder] {}

/*
    3. [>] - для всех тэгов a которые лежат внутри тэгов p которые являются непосредственными потомками тэгов div
*/
div>p a {}

/*
    4. [+] - для всех тэгов a который рсположены сразу после тэга div
*/
div+a {}

/*
    5. [~] - для всех тэгов a который рсположены после тэга div внутри одного родительского тэга
*/
div~a {}

#test>p+.cat>a:hover {}

/* Специфичность */

#test {
    text-align: center;
}

div {
    text-align: right;
}
